@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --bg-color: #12486B;
    --light-color: #ffffff;
    --dark-color: #011526;
    --primary-color: #F5FCCD;
    --secondary-color: #ffffff;
    --circle-bg: rgb(125, 181, 230);
    --circle-gd: linear-gradient(149deg, rgba(125, 181, 230, 1) 0%, rgba(1, 21, 38, 1) 88%);
    --highlight-color: #F2C48D;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
}

.sides {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    margin: 0;
}

.light-side {
    background-color: var(--light-color);
    min-height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.light-side img {
    height: 3em;
    width: 3em;
    margin-left: 2em;
    position: fixed;
    top: 30px;
}

.dark-side {
    background-color: var(--dark-color);
    min-height: 100vh;
    width: 50vw;
}

.circle {
    border-radius: 50%;
    position: fixed;
    border: 3px solid rgb(102, 102, 102);
}

.circle-content {
    background: var(--circle-bg);
    color: var(--light-color);
    background: var(--circle-gd);
    width: 40em;
    height: 40em;
    padding: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
}

h1 {
    font-size: 3.3em;
    font-weight: bold;
    margin-right: 3em;
    margin-left: 0.7em;
    color: var(--dark-color);
}

h3 {
    font-size: 2em;
    margin-top: 0.6em;
    margin-left: 1.17em;
}

.mq {
    color: #002a44;
    font-size: 13em;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    right: -0.6em;
    bottom: 2.7em;
}

.dev-mq {
    color: var(--light-color);
    font-size: 0.8em;
    position: fixed;
    right: 3em;
    bottom: 2em;
}

.chute-subtitle {
    color: var(--highlight-color);
    font-size: 1em;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.2em;
    text-align: center;
    color: var(--light-color);
    -webkit-animation: fade-in 2s;
    animation: fade-in 2s;
}

.box {
    font-size: 3em;
    padding: 10px;
    padding-bottom: 10px;
}

.warning {
    font-size: 0.5em;
}

.win {
    color: var(--highlight-color);
    font-size: 1.5em;
}

.btn-jogar {
    font-weight: bold;
    padding: 8px 15px;
    border: 0;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 5px;
    margin-top: 30px;
}

.btn-jogar:hover {
    cursor: pointer;
    color: var(--light-color);
    background-color: var(--dark-color);
    -webkit-animation: fade-in 1s;
    animation: fade-in 1s;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1669px) {
    .circle-content {
        width: 30em;
        height: 30em;
        padding: 10px;
        margin: 30px;
    }

    h1 {
        font-size: 2.8em;
        font-weight: bold;
        margin-right: 3em;
        margin-left: 0.7em;
        color: var(--dark-color);
    }

    h3 {
        font-size: 1.8em;
        margin-top: 0.6em;
        margin-left: 1.11em;
    }

    .mq {
        font-size: 10em;
        right: -0.6em;
        bottom: 2.5em;
    }

    .box {
        font-size: 1.6em;
        padding: 10px;
        padding-bottom: 20px;
    }

    .dev-mq {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 696px) and (max-width: 1307px) {
    .light-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 7em;
        box-sizing: border-box;
    }

    .light-side img {
        height: 3em;
        width: 3em;
        margin-left: 1.5em;
        position: fixed;
        top: 30px;
    }

    .circle-content {
        width: 25em;
        height: 25em;
        padding: 10px;
        margin: 30px;
    }

    h1 {
        font-size: 2.4em;
        font-weight: bold;
        margin-right: 0.2em;
        margin-left: 0.7em;
        color: var(--dark-color);
    }

    h3 {
        font-size: 1.6em;
        margin-top: 0.6em;
        margin-left: 1.10em;
    }

    .mq {
        font-size: 9em;
        right: -0.6em;
        bottom: 5em;
    }

    .box {
        font-size: 1.6em;
        padding: 10px;
        padding-bottom: 20px;
    }

    .mensagem {
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
    }

    .dev-mq {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 481px) and (max-width: 696px) {
    .light-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 7em;
        box-sizing: border-box;
    }

    .light-side img {
        height: 3em;
        width: 3em;
        margin-left: 1.5em;
        position: fixed;
        top: 30px;
    }

    .circle-content {
        width: 25em;
        height: 25em;
        padding: 10px;
        margin: 30px;
    }

    h1 {
        font-size: 2.4em;
        font-weight: bold;
        margin-right: 0.2em;
        margin-left: 0.7em;
        color: var(--dark-color);
    }

    h3 {
        font-size: 1.6em;
        margin-top: 0.6em;
        margin-left: 1.10em;
    }

    .mq {
        font-size: 9em;
        right: -0.6em;
        bottom: 5em;
    }

    .box {
        font-size: 1.6em;
        padding: 10px;
        padding-bottom: 20px;
    }

    .mensagem {
        font-size: 2em;
        text-align: center;
        margin-top: 20px;
    }

    .dev-mq {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 480px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .sides {
        height: 100vh;
        width: 100vw;
        display: flex;
    }

    .dark-side {
        height: 40vh;
        width: 10vw;
        box-sizing: border-box;
    }

    .light-side {
        display: flex;
        height: 60vh;
        width: 100vw;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-top: 7em;
        box-sizing: border-box;
    }

    .light-side img {
        height: 3em;
        width: 3em;
        margin-left: 1.1em;
        position: fixed;
        top: 30px;
    }

    .circle {
        margin-top: 8%;
        margin-right: 10%;
    }

    .circle-content {
        width: 14em;
        height: 14em;
        margin: 30px;

    }

    h1 {
        font-size: 2em;
        font-weight: bold;
        margin-right: 1em;
        margin-left: 0.7em;
        color: var(--dark-color);
    }

    h3 {
        font-size: 1.4em;
        margin-top: 0.6em;
        margin-left: 1.02em;
    }

    .mq {
        display: none;
        font-size: 5em;
        right: -0.6em;
        bottom: 1.7em;
    }

    .chute-subtitle {
        color: var(--highlight-color);
        font-size: 0.6em;
    }

    .box {
        font-size: 1.5em;
        padding: 10px;
    }

    .win {
        color: var(--highlight-color);
        font-size: 0.8em;
    }

    .btn-jogar {
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 5px;
        margin-top: 10px;
    }

    .mensagem {
        font-size: 2em;
        text-align: center;
    }

    .warning {
        font-size: 0.36em;
    }

    .dev-mq {
        color: #011526;
        font-weight: bold;
        font-size: 0.6em;
        left: 2em;
    }
}