@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --bg-color: #12486B;
    --light-color: #ffffff;
    --dark-color: #011526;
    --primary-color: #F5FCCD;
    --secondary-color: #ffffff;
    --circle-bg: rgb(125, 181, 230);
    --circle-gd: linear-gradient(149deg, rgba(125, 181, 230, 1) 0%, rgba(1, 21, 38, 1) 88%);
}

body {
    /*background-color: var(--bg-color);
    color: var(--secondary-color);*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
}

.sides {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    margin: 0;
}

.light-side {
    background-color: var(--light-color);
    min-height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.light-side img {
    height: 3em;
    width: 3em;
    margin-left: 2em;
    position: fixed;
    top: 30px;
}

.dark-side {
    background-color: var(--dark-color);
    min-height: 100vh;
    width: 50vw;
}

.circle {
    border-radius: 50%;
    position: fixed;
    border: 3px solid rgb(102, 102, 102);
}

.circle-content {
    background: var(--circle-bg);
    color: var(--light-color);
    background: var(--circle-gd);
    width: 40em;
    height: 40em;
    padding: 10px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 50%;
}

h1 {
    font-size: 3.3em;
    font-weight: bold;
    margin-right: 3em;
    margin-left: 0.7em;
    color: var(--dark-color);
}

h3 {
    font-size: 2em;
    margin-top: 0.6em;
    margin-left: 1.17em;
}

.mq {
    color: #002a44;
    font-size: 13em;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    right: -0.6em;
    bottom: 2.7em;
}

.dev-mq {
    color: var(--light-color);
    font-size: 0.8em;
    position: fixed;
    right: 3em;
    bottom: 2em;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    color: var(--light-color);
    margin-top: 40px;
}

.box {
    display: inline-block;
    font-size: 3em;
    padding: 10px;
}